<?xml version="1.0" encoding="UTF-8"?>
<configuration>  
  
    <!-- ch.qos.logback.core.ConsoleAppender 控制台输出 -->  
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">  
        <encoder>
            <pattern>%d{MM-dd HH:mm:ss.SSS} [%-5level] [%thread]%logger{36}:%L - %msg%n</pattern>  
        </encoder>  
    </appender>  
  
    <!-- ch.qos.logback.core.rolling.RollingFileAppender 文件日志输出  
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <Encoding>UTF-8</Encoding>  
        <File>D://MySQLProtocolAnalyzer.log</File>  
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <FileNamePattern>/home/test-%d{yyyy-MM-dd}.log</FileNamePattern>  
            <MaxHistory>10</MaxHistory>  
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">  
                <MaxFileSize>5MB</MaxFileSize>  
            </TimeBasedFileNamingAndTriggeringPolicy>  
        </rollingPolicy>  
        <layout class="ch.qos.logback.classic.PatternLayout">  
            <pattern>[%-5level] %d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n</pattern>  
        </layout>  
    </appender>  
    --> 
    
    <!-- 日志级别 -->  
    <root>  
        <level value="info" />  
        <level value="debug" /> 
        <appender-ref ref="console" />  
        <!-- <appender-ref ref="file" />   -->
    </root>  
  
  	<!-- 精确设置每个包下面的日志 -->
    <logger name="com.github.digdeep126" additivity="false">  
        <level value="debug" />  
        <!-- <appender-ref ref="file" />   -->
        <appender-ref ref="console" />  
    </logger>
    <logger name="java.sql.PreparedStatement" additivity="false">  
        <level value="debug" />  
        <appender-ref ref="console" />  
    </logger>  
    <!-- 
    <logger name="net.minisns.controller" additivity="false">
    	<level value="debug" />
    	<appender-ref ref="console" />
    </logger>
     -->
    <logger name="com.alipay" additivity="false">
    	<level value="debug" />
    	<appender-ref ref="console" />
    </logger>
    
    
   <!--  
        <property name="log.base" value="../logs/" /> 
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender"> 
        <file>${log.base}.log</file> 
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
        	<fileNamePattern>${log.base}.%d{yyyy-MM-dd}.log.zip</fileNamePattern> 
        </rollingPolicy> 
        <layout class="ch.qos.logback.classic.PatternLayout"> 
        	<pattern>%-20(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{80} -  %msg%n</pattern></layout> 
    </appender>  
  
    <appender name="db-classic-oracle" class="ch.qos.logback.classic.db.DBAppender">  
        <connectionSource class="ch.qos.logback.core.db.DataSourceConnectionSource">  
            <dataSource class="org.apache.commons.dbcp.BasicDataSource">  
                <driverClassName>oracle.jdbc.driver.OracleDriver</driverClassName>  
                <url>jdbc:oracle:thin:@192.168.3.250:1521:devdb</url>  
                <user>logback</user>  
                <password>logback</password>  
            </dataSource>  
        </connectionSource>  
    </appender>  
  
  
  
    <appender name="db-classic-mysql" class="ch.qos.logback.classic.db.DBAppender">  
        <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">  
            <driverClass>com.mysql.jdbc.Driver</driverClass>  
            <url>jdbc:mysql://localhost:3306/logbackdb</url>  
            <user>root</user>  
            <password>qqqqqq</password>  
        </connectionSource>  
    </appender>  
  
    <appender name="db-access" class="ch.qos.logback.access.db.DBAppender">  
        <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">  
            <driverClass>com.mysql.jdbc.Driver</driverClass>  
            <url>jdbc:mysql://localhost:3306/logbackdb</url>  
            <user>root</user>  
            <password>qqqqqq</password>  
        </connectionSource>  
        <insertHeaders>true</insertHeaders>  
    </appender>  

    <appender name="db-classic-mysql-pool" class="ch.qos.logback.classic.db.DBAppender">  
        <connectionSource class="ch.qos.logback.core.db.DataSourceConnectionSource">  
            <dataSource class="org.apache.commons.dbcp.BasicDataSource">  
                <driverClassName>com.mysql.jdbc.Driver</driverClassName>  
                <url>jdbc:mysql://localhost:3306/logbackdb</url>  
                <username>root</username>  
                <password>qqqqqq</password>  
            </dataSource>  
        </connectionSource>  
    </appender>  
      
    <appender name="db-classic-oracle-pool" class="ch.qos.logback.classic.db.DBAppender">  
        <connectionSource class="ch.qos.logback.core.db.DataSourceConnectionSource">  
            <dataSource class="org.apache.commons.dbcp.BasicDataSource">  
                <driverClassName>oracle.jdbc.driver.OracleDriver</driverClassName>  
                <url>jdbc:oracle:thin:@192.168.3.250:1521:devdb</url>  
                <username>logback</username>  
                <password>logback</password>  
            </dataSource>  
        </connectionSource>  
    </appender>  
        -->  
</configuration>   